$primary-text-color: #222222;
$primary-color-opacity: rgba(34, 34, 34, 0.1);
$secondary-text-color: #878787;
$section-bg-color: #f2f2f2;
$accent-color: #ff312e;
$wight: #ffffff;

$bold: 'Gilroy-Bold', sans-serif;
$heavy: 'Gilroy-Heavy', sans-serif;
$light: 'Gilroy-Light', sans-serif;
$medium: 'Gilroy-Medium', sans-serif;
$regular: 'Gilroy-Regular', sans-serif;
