<section class="section about">
    <div class="container about">
        <h2 class="about__title">это наша работа</h2>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore</p>

        <ul class="about__list">
            <li class="about__item">
                <p class="about__number">5</p>
                <p class="about__text-grid">выдающихся
                    мастеров</p>
            </li>
            <li class="about__item">
                <p class="about__number">1 062</p>
                <p class="about__text-grid">минут
                    до результата</p>
            </li>
            <li class="about__item">
                <p class="about__number">35</p>
                <p class="about__text-grid">выдающихся
                    мастеров</p>
            </li>
            <li class="about__item">
                <p class="about__number">10</p>
                <p class="about__text-grid">основных
                    услуг</p>
            </li>
        </ul>
        <a href="" class="about__link">
            Узнать подробности <span class="about__arrow">&#8594</span>
        </a>
        <picture class="about__img">
            <source srcset="./images/about.png 1x, ./images/about@2x.png 2x">
            <img src="./images/about.png" alt="tweezers">
        </picture>

    </div>
</section>