<section class="hero container">
    <div class="hero__block">
        <div class="hero__left-box">
            <h1 class="hero__title title">супер брови
                от мастеров
                brow Expert</h1>
            <p class="hero__text">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor</p>
        </div>
        <div class="hero__left-box">

        </div>
        <div class="hero__right-box">
            <picture class="hero__img">
                <source srcset="./images/hero-1.png 1x, 
                            ./images/hero-1@2x.png">
                <img src="./images/hero-1.png" alt="woman">
            </picture>
        </div>
    </div>
    <form class="hero__tab-btn">
        <input type="radio" class="hero__radio" value="one" name="hero__radio">
        <input type="radio" class="hero__radio" value="two" name="hero__radio">
        <input type="radio" class="hero__radio" value="three" name="hero__radio">
        <input type="radio" class="hero__radio" value="four" name="hero__radio">
    </form>
</section>