<div class="header-mob container">
    <button class="header-mob__btn">
        <svg class="header-mob__icon" width="30" height="20">
            <use href="./images/icons.svg#icon-menu"></use>
        </svg>
    </button>
    <ul class="header-mob__contacts">
        <li class="header-mob__item">
            <a href="tel:79053650916" class="header-mob__tel">
                +7 905 365-09-16
            </a>
        </li>
        <li class="header-mob__item">
            <a class="header-mob__mail-text" href="mailto:">
                Написать нам
            </a>
        </li>
    </ul>



    <div class="header-mob__logo-wrapper">
        <p class="header-mob__logo">ВЕ</p>
    </div>
</div>