<header class="header">
    <a href="" class="header__address">
        г. Пенза, ул. Пушкина, 2
        <span>Посмотреть на карте</span>
    </a>
    <nav>
        <ul class="header__list">
            <li class="header__item">
                <a href="" class="header__link">
                    Главная
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__link">
                    О компании
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__link">
                    Услуги
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__logo">
                    BE
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__link">
                    Отзывы
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__link">
                    Обучение
                </a>
            </li>
            <li class="header__item">
                <a href="" class="header__link">
                    Контакты
                </a>
            </li>
        </ul>
    </nav>
    <a href="" class="header__tel">
        +7 905 365-09-16
        <span>Написать нам</span>
    </a>
</header>