<section>
    <div class="what-we-do container">
        <h2 class="what-we-do__title">что мы делаем</h2>
        <a href="" class="what-we-do__link">
            Дизайн бровей
            <svg class="what-we-do__icon" width="12" height="8">
                <use href="./images/icons.svg#icon-arrow">Дизайн бровей</use>
            </svg>
        </a>
        <div class="what-we-do__box">
            <div class="what-we-do__left-box">
                <h3 class="what-we-do__tema title">дизайн бровей</h3>
                <p class="what-we-do__text">
                    Sed ut perspiciatis unde
                    omnis iste natus error sit
                    voluptatem accusantium
                    doloremque laudantium,
                    totam rem aperiam, eaque
                    ipsa quae ab illo inventore
                    veritatis et quasi architecto.
                </p>
            </div>
            <div class="what-we-do__right-box">
                <picture class="what-we-do__img">
                    <source srcset="./images/what-we-do/1.png 1x, 
                                        ./images/what-we-do/1@2x.png 2x">
                    <img src="./images/what-we-do/1.png" alt="woman-whith-brush">
                </picture>
            </div>
        </div>
        <div class="what-we-do__bottom">
            <div class="what-we-do__block">
                <p class="what-we-do__price">
                    300 ₽
                </p>
                <p class="what-we-do__price-under">за сеанс</p>
            </div>
            <button class="btn">Записаться</button>
        </div>
    </div>
</section>